body{
    margin: 0;
    font-size: 15px;
    color: grey;
}
.container{
    width:100%;
    max-width: 1800px;
    margin: 0 auto;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.title{
    font-size: 30px;
    font-weight: 700;
    color: red;
}

.div_title{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.nav{
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    color: red;
    text-weight: 700px;
    text-decoration: none;
    display: inline-block;
    right: 0;
    vertical-align: top;
    margin: 0 10px;
}

.link{
color: red;
}

