<html>
    <head>
        <link rel="stylesheet" href="../static/css/main.css">
        <title>Theatres</title>
        <style>
            body{
            background-image: url(../static/img/background.png)
            }
            A {
            text-decoration: none;
            }
        </style>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header_links">
                    <div class="title">О сайте</div>
                        <nav class="nav">
                            <a href="/theatre/main" class="nav_link">На главную</a>
                            <a href="/theatre/look_all" class="nav_link">Все театры</a>
                        </nav>
                </div>
            </div>
        </header>
        <div style="position: absolute; top: 100px; left: 70px; width: 700px; background-color: white; padding: 5px; border-radius: 20px;">
                <h3>Этот сайт был создан для обзора на театры. На этом сайте Вы можете немного узнать об истории театра, его адресс и переместиться на главный сайт театра для дальнейших действий на Ваше усмотрение.</h3>
        </div>
        <div style="position: absolute; top: 300px; left: 70px; width: 700px; background-color: white; padding: 5px; border-radius: 20px;">
            <h3>Примечание: данный сайт находится в стадии разработки и, возможно, в нём не указано большинство театров. Но не расстраивайтесь! Сайт развивается и вскоре список театров пополнится.</h3>
        </div>
    </body>
</html>