<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/alltheatres.css">
        <meta charset="UTF-8">
        <title>Все театры</title>
        <style>
            body{
            background: url(../static/img/background.png);
            }
            A {
            text-decoration: none;
            }
            ul {
            list-style-type: none;
            margin: 0;
            padding: 4px;
            }
        </style>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header_links">
                    <div class="title">Театры в Москве</div>
                    <nav class="nav">
                        <a href="/theatre/about" class="nav_link">О нас</a>
                        <a href="/theatre/main" class="nav_link">На главную</a>
                    </nav>
                </div>
            </div>
        </header>
        <div class="title" style="left: 40px; top: 80px; position: absolute">
            Перейти к:
            <div>
                <ul>
                    <li style="display: inline"><a href="#b" class="link">Б</a></li>
                    <li style="display: inline"><a href="#v" class="link">В</a></li>
                    <li style="display: inline"><a href="#l" class="link">Л</a></li>
                    <li style="display: inline"><a href="#m" class="link">М</a></li>
                    <li style="display: inline"><a href="#r" class="link">Р</a></li>
                    <li style="display: inline"><a href="#s" class="link">С</a></li>
                </ul>
            </div>
        </div>
        <div class="box" style="top: 200px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box"><a name="b"></a>
                <h3><a href="/theatre/to_watch/bolshoi_teatr" class="text_box">Большой театр<br>
                    Государственный академический Большой театр России (ГАБТ), или просто Большой театр — один из крупнейших в России и один из самых значительных в мире театров оперы и балета. Изначально театр был частным, но с 1794 стал казённым, составляющим вместе с Малым единую московскую труппу императорских театров...</a></h3>
            </div>
        </div>
    <div class="box" style="top: 500px">
            <div class="foto_box">
                <img src="../static/img/vahtangov.jpg" class = "img_class">
            </div>
            <div class="text_box"><a name="v"></a>
                <h3><a href="/theatre/to_watch/vahtangova" class="text_box">Театр Вахтангова<br>
                    Государственный академический театр имени Евгения Вахтангова — драматический театр в Москве. Уже в 1913 году группа студентов организовала Студенческую драматическую студию, руководителем которой стал Вахтангов, бывший режиссёром Московского Художественного театра.</a></h3>
            </div>
        </div>
    <div class="box" style="top: 800px">
            <div class="foto_box">
                <img src="../static/img/lenkom.jpg" class = "img_class">
            </div>
            <div class="text_box"><a name="l"></a>
                <h3><a href="/theatre/to_watch/lenkom" class="text_box">Театр Ленком<br>
                    Российский государственный драматический театр, расположенный в Тверском районе города Москвы. В 1927 году по инициативе Московского комсомола был основан Центральный Театр рабочей молодёжи (ТРАМ). Открытие прошло 1 октября. В него приняли участников заводских и районных театров, а также...</a></h3>
            </div>
        </div>
    <div class="box" style="top: 1100px">
            <div class="foto_box">
                <img src="../static/img/mbronnaya.jpg" class = "img_class">
            </div>
            <div class="text_box"><a name="m"></a>
                <h3><a href="/theatre/to_watch/na_maloy_bronnoy" class="text_box">Театр на Малой Бронной<br>
                    Драматический театр Москвы. Изначально театр располагался в здании на улице Спартаковской, дом 26, но в 1962 году Московский драматический театр переехал в здание на Малой Бронной, дом 4. В 1968 году театр получил современное название. На 2019 год в репертуаре преобладают спектакли, основанные...</a></h3>
            </div>
        </div>
    <div class="box" style="top: 1400px">
            <div class="foto_box">
                <img src="../static/img/maluy_teatr.jpg" class = "img_class">
            </div>
            <div class="text_box">
                <h3><a href="/theatre/to_watch/maluy_teatr" class="text_box">Малый театр<br>
                Государственный академический Малый театр России — драматический театр в Москве. Малый театр — один из старейших театров России. Его труппа была создана при Московском университете в 1756 году, сразу после известного указа Императрицы Елизаветы Петровны, ознаменовавшего...</a></h3>
            </div>
    </div>
    <div class="box" style="top: 1700px">
        <div class="foto_box">
            <img src="../static/img/Mayakosky_theatre.jpg" class = "img_class">
        </div>
        <div class="text_box"><h3><a href="/theatre/to_watch/mayakovskova" class="text_box">Театр им. Маяковского<br>
            Один из самых старых драматических театров Москвы. Основу репертуара составляют спектакли, поставленные по мотивам произведений русской классической литературы. Современное название и посвящение Владимиру Маяковскому театр получил в 1954 году, а через десять лет ему присвоили...</a></h3>
        </div>
    </div>
        <div class="box" style="top: 2000px">
        <div class="foto_box">
            <img src="../static/img/mtyz.jpg" class = "img_class">
        </div>
        <div class="text_box"><h3><a href="/theatre/to_watch/mtyz" class="text_box">МТЮЗ<br>
            Первый государственный театр для детей, в 1941 году объединён с ещё одним московским ТЮЗом. В 1970 году награждён Орденом Трудового Красного Знамени, а в 80-м получил Премию Ленинского комсомола. Первым показанным в 1920 году спектаклем был «Маугли». На тот момент зрительный зал вмещал 330 человек...</a></h3>
        </div>
    </div>
    <div class="box" style="top: 2300px">
            <div class="foto_box">
                <img src="../static/img/MHT.jpg" class = "img_class">
            </div>
            <div class="text_box">
                <h3><a href="/theatre/to_watch/mht" class="text_box">МХТ<br>
                    Московский Художественный театр — драматический театр, основанный Константином Сергеевичем Станиславским и Владимиром Ивановичем Немировичем-Данченко. В 1987 году разделился на два театра, взявших себе официальные наименования: Московский Художественный академический...</a></h3>
            </div>
        </div>
    <div class="box" style="top: 2600px">
        <div class="foto_box">
            <img src="../static/img/romen.jpg" class = "img_class">
        </div>
        <div class="text_box"><a name="r"></a><h3><a href="/theatre/to_watch/romen" class="text_box">Театр Ромэн<br>
            Московский музыкально-драматический театр. В его репертуар входят постановки на известные литературные произведения. Авторами сценариев зачастую являются сами актёры. 6 декабря 1931 года «Ромэн» получил статус профессионального театра. Вскоре был показан трёхактный...</a></h3>
        </div>
    </div>
    <div class="box" style="top: 2900px">
            <div class="foto_box">
                <img src="../static/img/sovremennik.jpg" class = "img_class">
            </div>
            <div class="text_box"><a name="s"></a>
                <h3><a href="/theatre/to_watch/sovremennik" class="text_box">Театр Cовременник<br>
                    Театр основан в 1956 году группой молодых актёров — выпускников Школы-студии МХАТ. Актёры собирались на добровольных началах.Изначально актёрская студия взяла название «Студия молодых актёров», которое отражало демократический дух группы. Создание современного молодёжного театра стало...</a></h3>
            </div>
        </div>
    </body>
</html>