<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/alltheatres.css">
        <meta charset="UTF-8">
        <title>Все театры</title>
        <style>
            body{
            background-image: url(../static/img/background.jpg)
            }
            A {
            text-decoration: none;
            }
            ul {
            list-style-type: none;
            margin: 0;
            padding: 4px;
            }
        </style>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header_links">
                    <div class="title">Театры в Москве</div>
                    <nav class="nav">
                        <a href="#" class="nav_link">О нас</a>
                        <a href="#" class="nav_link">Сообщить</a>
                        <a href="#" class="nav_link">Контакты</a>
                        <a href="/theatre/main" class="nav_link">На главную</a>
                    </nav>
                </div>
            </div>
        </header>
        <div class="title" style="left: 40px; top: 80px; position: absolute">
            Перейти к:
            <div>
                <ul>
                    <li style="display: inline"><a href="#" class="link">А</a></li>
                    <li style="display: inline"><a href="#" class="link">А</a></li>
                    <li style="display: inline"><a href="#" class="link">А</a></li>
                    <li style="display: inline"><a href="#" class="link">А</a></li>
                    <li style="display: inline"><a href="#" class="link">А</a></li>
                    <li style="display: inline"><a href="#" class="link">А</a></li>
                </ul>
            </div>
        </div>
        <div class="box" style="top: 200px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box">
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            </div>
        </div>
    </body>
</html>