<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/alltheatres.css">
        <meta charset="UTF-8">
        <title>Все театры</title>
        <style>
            body{
            background: url(../static/img/background.png);
            }
            A {
            text-decoration: none;
            }
            ul {
            list-style-type: none;
            margin: 0;
            padding: 4px;
            }
        </style>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header_links">
                    <div class="title">Театры в Москве</div>
                    <nav class="nav">
                        <a href="#" class="nav_link">О нас</a>
                        <a href="#" class="nav_link">Сообщить</a>
                        <a href="#" class="nav_link">Контакты</a>
                        <a href="/theatre/main" class="nav_link">На главную</a>
                    </nav>
                </div>
            </div>
        </header>
        <div class="title" style="left: 40px; top: 80px; position: absolute">
            Перейти к:
            <div>
                <ul>
                    <li style="display: inline"><a href="#a" class="link">А</a></li>
                    <li style="display: inline"><a href="#b" class="link">Б</a></li>
                    <li style="display: inline"><a href="#v" class="link">В</a></li>
                    <li style="display: inline"><a href="#g" class="link">Г</a></li>
                    <li style="display: inline"><a href="#d" class="link">Д</a></li>
                    <li style="display: inline"><a href="#m" class="link">М</a></li>
                </ul>
            </div>
        </div>
        <div class="box" style="top: 200px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box"><a name="b"></a>
                <h3><a href="/theatre/to_watch/bolshoi_teatr" class="text_box">Большой театр<br>
                    Государственный академический Большой театр России (ГАБТ), или просто Большой театр — один из крупнейших в России и один из самых значительных в мире театров оперы и балета. Изначально театр был частным, но с 1794 стал казённым, составляющим вместе с Малым единую московскую труппу императорских театров...</a></h3>
            </div>
        </div>
    <div class="box" style="top: 500px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box">
                <h3><a href="/theatre/to_watch/bolshoi_teatr" class="text_box">Театр Вахтангова<br>
                    Государственный академический театр имени Евгения Вахтангова — драматический театр в Москве. Уже в 1913 году группа студентов организовала Студенческую драматическую студию, руководителем которой стал Вахтангов, бывший режиссёром Московского Художественного театра.</a></h3>
            </div>
        </div>
    <div class="box" style="top: 800px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box">
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            </div>
        </div>
    <div class="box" style="top: 1100px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box">
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            </div>
        </div>
    <div class="box" style="top: 1400px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box">
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            </div>
        </div>
    <div class="box" style="top: 1700px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box"> <a name="m"></a>
                <h3><a href="/theatre/to_watch/maluy_teatr" class="text_box">Малый театр<br>
                Государственный академический Малый театр России — драматический театр в Москве. Малый театр — один из старейших театров России. Его труппа была создана при Московском университете в 1756 году, сразу после известного указа Императрицы Елизаветы Петровны, ознаменовавшего...</a></h3>
            </div>
        </div>
    <div class="box" style="top: 2000px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box">
                <h3><a href="/theatre/to_watch/mhat" class="text_box">Малый театр<br>
                    Московский Художественный театр — драматический театр, основанный Константином Сергеевичем Станиславским и Владимиром Ивановичем Немировичем-Данченко. В 1987 году разделился на два театра, взявших себе официальные наименования: Московский Художественный академический...</a></h3>
            </div>
        </div>
    <div class="box" style="top: 2300px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box">
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            </div>
        </div>
    <div class="box" style="top: 2600px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box">
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            </div>
        </div>
    <div class="box" style="top: 2900px">
            <div class="foto_box">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class">
            </div>
            <div class="text_box"><a name="g"></a>
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            </div>
        </div>
    </body>
</html>