<html>
    <head>
        <link rel="stylesheet" href="../static/css/main.css">
        <title>Theatres</title>
        <style>
            body{
            background-image: url(../static/img/background.png)
            }
            A {
            text-decoration: none;
            }
        </style>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header_links">
                    <div class="title">Театры в Москве</div>
                        <nav class="nav">
                            <a href="/theatre/about" class="nav_link">О нас</a>
                            <a href="/theatre/look_all" class="nav_link">Все театры</a>
                        </nav>
                </div>
            </div>
        </header>
        <div class="box_1">
            <div class="foto_box_left">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class_left">
            </div>
            <div class="text_box_left">
                <h3><a href="/theatre/to_watch/bolshoi_teatr" class="text_box">Большой театр<br>
                    Государственный академический Большой театр России (ГАБТ), или просто Большой театр — один из крупнейших в России и один из самых значительных в мире театров оперы и балета. Изначально театр был частным, но с 1794 стал казённым, составляющим вместе с Малым единую московскую труппу императорских театров...</a></h3>
            </div>
        </div>
        <div class="box_2">
                <div class="foto_box_right">
                    <img src="../static/img/lenkom.jpg" class = "img_class_right">
                </div>
                <div class="text_box_right">
                    <h3><a href="/theatre/to_watch/lenkom" class="text_box">Театр Ленком<br>
                    Российский государственный драматический театр, расположенный в Тверском районе города Москвы. В 1927 году по инициативе Московского комсомола был основан Центральный Театр рабочей молодёжи (ТРАМ). Открытие прошло 1 октября. В него приняли участников заводских и районных театров, а также...</a></h3>
                </div>
            </div>
        <div class = "box_3">
                <div class="foto_box_left">
                    <img src="../static/img/Mayakosky_theatre.jpg" class = "img_class_left">
                </div>
                <div class="text_box_left">
                    <h3><a href="/theatre/to_watch/mayakovskova" class="text_box">Театр им. Маяковского<br>
            Один из самых старых драматических театров Москвы. Основу репертуара составляют спектакли, поставленные по мотивам произведений русской классической литературы. Современное название и посвящение Владимиру Маяковскому театр получил в 1954 году, а через десять лет ему присвоили...</a></h3>
            </div>
        </div>
        <div class = "box_4">
                <div class = "foto_box_right">
                    <img src = "../static/img/MHT.jpg" class = "img_class_right">
                </div>
                <div class = "text_box_right">
                    <h3><a href="/theatre/to_watch/mht" class="text_box">МХТ<br>
                    Московский Художественный театр — драматический театр, основанный Константином Сергеевичем Станиславским и Владимиром Ивановичем Немировичем-Данченко. В 1987 году разделился на два театра, взявших себе официальные наименования: Московский Художественный академический...</a></h3>
            </div>
        </div>
        <div class = "box_5">
            <div class = "foto_box_left">
                <img src = "../static/img/sovremennik.jpg" class = "img_class_left">
            </div>
            <div class="text_box_left">
                <h3><a href="/theatre/to_watch/sovremennik" class="text_box">Театр Cовременник<br>
                    Театр основан в 1956 году группой молодых актёров — выпускников Школы-студии МХАТ. Актёры собирались на добровольных началах.Изначально актёрская студия взяла название «Студия молодых актёров», которое отражало демократический дух группы. Создание современного молодёжного театра стало...</a></h3>
            </div>
        </div>
    </body>
</html>