<html>
    <head>
        <link rel="stylesheet" href="../static/css/main.css">
        <title>Theatres</title>
        <style>
            body{
            background-image: url(../static/img/background.png)
            }
            A {
            text-decoration: none;
            }
        </style>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header_links">
                    <div class="title">Театры в Москве</div>
                        <nav class="nav">
                            <a href="#" class="nav_link">О нас</a>
                            <a href="#" class="nav_link">Сообщить</a>
                            <a href="#" class="nav_link">Контакты</a>
                            <a href="/theatre/look_all" class="nav_link">Все театры</a>
                        </nav>
                </div>
            </div>
        </header>
        <div class="box_1">
            <div class="foto_box_left">
                <img src="../static/img/bolshoi-teatr.jpg" class = "img_class_left">
            </div>
            <div class="text_box_left">
                <h4><a href="#" class="text_box">fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff ff f f f f f f f f f f f f f f f
                fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                    ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</a></h4>
            </div>
        </div>
        <div class="box_2">
                <div class="foto_box_right">
                    <img src="../static/img/bolshoi-teatr.jpg" class = "img_class_right">
                </div>
                <div class="text_box_right">
                    <h4><a href="#" class="text_box">fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                    fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                    ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</a></h4>
                </div>
            </div>
        <div class = "box_3">
                <div class="foto_box_left">
                    <img src="../static/img/bolshoi-teatr.jpg" class = "img_class_left">
                </div>
                <div class="text_box_left">
                    <h4><a href="#" class="text_box">ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                    fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</a></h4>
                </div>
            </div>
        <div class = "box_4">
            <a href="#" class="text_box">
                <div class = "foto_box_right">
                    <img src = "../static/img/bolshoi-teatr.jpg" class = "img_class_right">
                </div>
                <div class = "text_box_right">
                    <h4>ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                    fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                    ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</h4>
                </div>
                </a>
            </div>
        <div class = "box_5">
            <div class = "foto_box_left">
                <img src = "../static/img/bolshoi-teatr.jpg" class = "img_class_left">
            </div>
            <div class="text_box_left">
                <h4 class="text_box">В этом году я что-то сделал</h4>
            </div>
        </div>
    </body>
</html>